* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.app-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.app-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.title button {
    flex: 1;
}